body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}
.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 10px;
}
a{
  color: black;
}
li{
  padding-left: 200px;
  list-style-type: none;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}
.header{
  box-shadow: 3px 3px 3px 3px #888888;
  margin: 0px;
  overflow: hidden;
}
.form{
  height: 87vh;
  width:100%;
  background-color: #888888;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
input{
  margin: 50px;
  margin-top: 100px;
}
.answer{
  margin-right: 70px;
  margin-top: 200px;
}