body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}
.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 10px;
}
a{
  color: black;
}
li{
  padding-left: 200px;
  list-style-type: none;
  margin-bottom: 20px;
  color: black;
  font-weight: bold;
}
.header{
  box-shadow: 3px 3px 3px 3px #888888;
  margin: 0px;
  overflow: hidden;
}
.form{ 
  margin-top: 10px;
  background-color: #888888;
  width: 100%;
  height: 85vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
input{
  margin: 50px;
  margin-top: 100px;
}
.home{
  overflow: hidden;
}
.bt1{
  margin-top: 50px;
  margin-right: 70px;
}
.button-17 {
  align-items: center;
  position: absolute;
  top: 50px;
  right: 10px;
  appearance: none;
  background-color: #888888;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}
.help{
  border: transparent;
  background-color: transparent;
  font-weight: bold;
}
.help:hover{
  opacity: 0.5;
}
#aj{
  visibility: hidden;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	margin: 0;
  border-radius: 0.5rem;
  background-color: white;
  border: none;
  display: block;
  border: 2px solid black;
  transition: all 0.3s;
}

.form__label{
  position: absolute;
  left: 105px;
  top:65px;
  font-weight: bold;
  font-size: large;
}
.tog{
  visibility:hidden;
}

.bgform{
  border: 2px solid white;
  border-radius: 20px;
  width: 500px;
  height: 300px;
  margin-left: 350px;
  position:absolute;
  top: 250px;
  padding: 100px;
  background-color: white;
}