body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.App {
  text-align: center;
}

.bg{
  box-shadow: 3px 3px 3px 3px #888888;
}
.logo{
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 10px;
}
.refresh,.help,.contact{
  border: transparent;
  background-color: transparent;
  font-weight: bold;
  padding-top: 10px;
  border: transparent;
  background-color: transparent;
  font-weight: bold;
}
.refresh:hover,.help:hover,.contact:hover{
  opacity: 0.5;
}
.home{
  height: 480px;
  border-radius: 5px;
  background: #eee;
  box-shadow: 0 8px 8px -4px;
}
.cg{
  background-color: #888888;
  min-height: 89vh;
  min-width: 100vh;
}
.v{
  border: 2px solid red;
}
.space{
  height: 50px;
}
.spacex{
  height:200px
}
.search{
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  background-color: black;
  border: none;
  font-weight: bold;
  color: white;
}
.search:hover{
  color: black;
  background-color:#888888;
  font-weight: bolder;
}
input{
  padding-left:25px;
  padding-right:25px;
  border:none;
  background-color:#ffffff;
}
.co{
  border: 2px solid red;
}
input:focus { 
  outline: none !important;
  border-color: gray;
  box-shadow: 0 0 10px #676767;
}
.wrong{
  border: 1px solid red;
}
.wrong:focus{
  outline: none !important;
  border-color: red;
  box-shadow: 0 0 5px red;
}
.right{
  border: 1px solid rgb(0, 255, 0) ;
}
.right:focus{
  outline: none !important;
  border-color: rgb(0, 255, 0);
  box-shadow: 0 0 5px rgb(0, 255, 0);
}
input::placeholder{
  text-align: center;
  color:#888888;
  font-weight: bold;
}
.hg{
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 10px;
  background-color: #888888;
}
.smallwrong{
  color: red;
}